
html {
    scroll-behavior: smooth;
  }

.navbar{
    background: #000;
}

.navbar .nav-item{
    padding-left: 50px;
}

#blogheader{
    height: 200px;
    background: url('../image/readingroom.jpg')no-repeat;
    background-size: cover;
}

#footer{
    background: #000;
    height: 60px;
}

@media(max-width:768px){
    .nav-item{
        padding: 0 !important;
    }

}

@media(max-width:425px){
    #blogheader{
        height: 280px;
    }

}